        <section class="banner container-bigger">
            <div class="container header-filter">
                <div class="row text-center">
                    <h2>Look for FREE stuff!</h2>
                    <form class="inbanner-form">
                        <input type="category" id="category" placeholder="Enter category">
                        <input type="city" id="city" placeholder="Enter city">
                        <input type="PostalCode" id="PostalCode" placeholder="Enter PostalCode">
                        <select id="distance">
                            <option value="5km">5km</option>
                            <option value="10km">10km</option>
                            <option value="15km">15km</option>
                            <option value="15km">+15km</option>
                        </select>
                        <a type="submit" class="">Filter</a>
                    </form>
                    <div class="to-listing">
                        <a href="#product-list">
                            <i class="glyphicon glyphicon-circle-arrow-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <nav class="row short-filter">
            <div class="col-xs-12 col-md-6 col-md-offset-3" id="product-list">
                <div class=" btn-group-justified">
                    <a href="#product-list" class="btn btn-default">ALL
                        </a>
                    <a href="#product-list" class="btn btn-default">FREE
                        </a>
                    <a href="#product-list" class="btn btn-default">Needed
                        </a>
                </div>
            </div>
        </nav>