        <section class="banner container-bigger">
            <div class="container header-filter">
                <div class="row text-center">
                    <h2>Look for FREE stuff!</h2>
                    <form class="inbanner-form">
                        <input type="category" id="category" placeholder="Enter category">
                        <input type="city" id="city" placeholder="Enter city">
                        <input type="PostalCode" id="PostalCode" placeholder="Enter PostalCode">
                    <div class="filter-button">
                        <a type="submit" class="">Filter</a>
                    </div>
                    </form>
                </div>
            </div>
        <nav class="row short-filter">
            <div class="col-xs-12 col-md-6 col-md-offset-3" id="product-list">
                <div class=" btn-group-justified">
                    <a href="#product-list" class="btn btn-default">ALL
                        </a>
                    <a href="#product-list" class="btn btn-default">FREE
                        </a>
                    <a href="#product-list" class="btn btn-default">Needed
                        </a>
                </div>
            </div>
        </nav>
        </section>