 <!-- Extra info area -->
            <div class="advice">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <h2> Share things.</h2>
                        <p class="lead">Sharing is caring, give away all that stuff you don't use to those who may need it!</p>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h2> Feel Good.</h2>
                        <p class="lead">After giving things you will feel so good with yourself you will not be able to stop!</p>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h2> Recycle.</h2>
                        <p class="lead">This is the easiest way of reusing instead of throwing away that doesn't involve money.</p>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <ul class="">
                            <li class="footer-title"> ABOUT</li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Join</a></li>
                            <li><a href="#">My profile</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <ul >
                            <li class="footer-title"> TIPS &amp; ADVICE</li>
                            <li><a href="#">Be nice</a></li>
                            <li><a href="#">Be safe</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <ul >
                            <li class="footer-title"> CONSIDER</li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms of use</a></li>
                        </ul>
                        <!-- <ul >
                            <li class="footer-title"> FOLLOW US</li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
            </div>
        </footer>

        