        <section>
            <div class="row item-list">
                <div class="col-xs-12 col-md-3 item">
                    <a href="./details.html"><img src="./img/product-test/candy.jpg" class="img-responsive "></a>
                    <div class="container">
                        <h3>NAME</h3>
                        <p class="free-icon">FREE</p>
                        <p>Location</p>
                        <a href="/user">Casper Potato</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 item">
                    <img src="./img/product-test/dice.jpg" class="img-responsive">
                    <div class="container">
                        <h3>NAME</h3>
                        <p class="free-icon">FREE</p>
                        <p>Location</p>
                        <a href="./user.html">Casper Potato</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 item">
                    <img src="./img/product-test/doll.jpg" width="140" height="140">
                    <div class="container">
                        <h3>NAME</h3>
                        <p class="free-icon">FREE</p>
                        <p>Location</p>
                        <a href="./user.html">Casper Potato</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 item">
                    <img src="./img/product-test/poketato.jpg" class="img-responsive">
                    <div class="container">
                        <h3>NAME</h3>
                        <p class="free-icon">FREE</p>
                        <p>Location</p>
                        <a href="./user.html">Casper Potato</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 item">
                    <img src="./img/product-test/ramen.jpg" class="img-responsive">
                    <div class="container">
                        <h3>NAME</h3>
                        <p class="free-icon">FREE</p>
                        <p>Location</p>
                        <a href="./user.html">Casper Potato</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 item">
                    <img src="./img/product-test/kid.jpg" class="img-responsive">
                    <div class="container">
                        <h3>NAME</h3>
                        <p class="free-icon">FREE</p>
                        <p>Location</p>
                        <a href="./user.html">Casper Potato</a>
                    </div>
                </div>
            </div>
           