      <ng-include src="'/templates/filter-banner.html'"></ng-include>
        <section>
            <div class="row item-list container">
                <div class="col-xs-12 col-md-3 item">
                    <a href="#!/detail"><img src="https://images.pexels.com/photos/115024/pexels-photo-115024.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" class="img-responsive "></a>
                    <div class="container">
                        <h3>NAME</h3>
                        <p class="free-icon">FREE</p>
                        <p>Location</p>
                        <a href="#!/user">Casper Potato</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 item">
                    <img src="https://images.pexels.com/photos/321332/pexels-photo-321332.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" class="img-responsive">
                    <div class="container">
                        <h3>NAME</h3>
                        <p class="free-icon">FREE</p>
                        <p>Location</p>
                        <a href="#!/user.html">Casper Potato</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 item">
                    <img src="https://images.pexels.com/photos/126385/pexels-photo-126385.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" width="140" height="140">
                    <div class="container">
                        <h3>NAME</h3>
                        <p class="free-icon">FREE</p>
                        <p>Location</p>
                        <a href="#!/user.html">Casper Potato</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 item">
                    <img src="https://images.pexels.com/photos/261463/pexels-photo-261463.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" class="img-responsive">
                    <div class="container">
                        <h3>NAME</h3>
                        <p class="free-icon">FREE</p>
                        <p>Location</p>
                        <a href="#!/user.html">Casper Potato</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 item">
                    <img src="https://images.pexels.com/photos/343419/pexels-photo-343419.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" class="img-responsive">
                    <div class="container">
                        <h3>NAME</h3>
                        <p class="free-icon">FREE</p>
                        <p>Location</p>
                        <a href="#!/user.html">Casper Potato</a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 item">
                    <img src="https://images.pexels.com/photos/343683/pexels-photo-343683.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" class="img-responsive">
                    <div class="container">
                        <h3>NAME</h3>
                        <p class="free-icon">FREE</p>
                        <p>Location</p>
                        <a href="#!/user.html">Casper Potato</a>
                    </div>
                </div>
            </div>
           