<header>
    <div class="logo-banner">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <a href="#">
                    <img class="logo" src="./img/logos/Asset2.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <button class="btn-success list-header-button" data-target="#uploadModal" data-toggle="modal"> Post FREE Items</button>
            </div>
        </div>
    </div>
</header>
<!-- Upload Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">List for FREE</h4>
            </div>
        <form class="form" method="POST" name="newProduct" action="/products/api" ">
            <div class="modal-body">
                <div >
                    <div class="row">
                        <div class="col-xs-12">
                        <div class="form-group ">
                                <p>Enter your item's name:</p>
                                <input type="text " class="form-control" name="name" placeholder="Item name ... "> 
                                <p>Category for testing:</p>
                                <input type="text " class="form-control" name="category" placeholder="Category ... ">  
                                <p>Location for testing:</p>
                                <input type="text " class="form-control" name="location" placeholder="Location ... "> 
                                <p>UserID for testing:</p>
                                <input type="text " class="form-control" name="user" placeholder="58c6b849e19a7118b4ad68ad... ">   
                                <p>Write a brief description:</p>
                                <textarea type="text " class="form-control" name="description" rows="5 " placeholder="Item description... "></textarea>
                        </div>
                        <div class="form-group ">
                            <div>
                                <p>Add a picture of the item:</p>
                                <div class="input-group">
                                    <input type="file" name="file_nm" id="file_nm" class="form-control upload" placeholder="" aria-describedby="file_upload"> <span class="input-group-addon" id="file_upload"><i class="glyphicon glyphicon-upload"></i></span>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
      </div>
      <div class="modal-footer ">
        <button type="submit " class="btn btn-primary form-button">Upload</button>
      </div>
         </form>
    </div>
  </div>
</div>
  <!--End Of Modal -->
