   <link rel="stylesheet" href="../css/user.css">
   <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <div class="user-container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-md-offset-2 user-img">
                <img src="./img/user.jpeg" class="img-responsive" draggable="false" />
            </div>
            <div class="col-sm-6 col-md-6 col-md-offset-1 user-data">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <h4>{{user.name}}</h4>
                         <div class="user-rating" ng-click="showReviews()">
                    <div class="stars">
                      <form action="">
                        <input class="star star-1" id="star-1" type="radio" name="star"/>
                        <label class="star star-1" for="star-1"></label>
                        <input class="star star-2" id="star-2" type="radio" name="star"/>
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-3" id="star-3" type="radio" name="star"/>
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-4" id="star-4" type="radio" name="star"/>
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-5" id="star-5" type="radio" name="star"/>
                        <label class="star star-5" for="star-5"></label>
                      </form>
                    </div>
                    <p>15 reviews </p>
                </div>
                         <p class="user-location">{{user.location}}  <i class="glyphicon glyphicon-map-marker"></i></p>
                                  <p>
                            <i class="glyphicon glyphicon-envelope"></i> <a href="" data-target="#messageModal" data-toggle="modal">  Send private message</a>
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-gift"></i>  Items given: <a href=""> 8</a> 
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-refresh"></i>  Items reused: <a href=""> 15 </a>
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-6 user-info">
                        <h4>Some information </h4>
                        <p>{{user.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<section>
    <div class="row container-reviews" ng-show="reviews">
      <div class="col-xs-6 col-md-3 "> 
        <div class="row">
          <div class="col-xs-12 col-md-6 review-img">
            <a href=""><img src="https://randomuser.me/api/portraits/men/75.jpg" class="img-responsive img-circle "></a>
            <div class="review-rating"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>
            </div>
            <p class="item-location "><i class="glyphicon glyphicon-map-marker"></i> United Arab Emirates</p>
          </div>
          <div class="col-xs-12 col-md-6 user-info">
            <h4>Review : </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt minus error perferendis consectetur dolorum animi obcaecati, nihil enim corrupti assumenda.</p>
            <i class="glyphicon glyphicon-user"> <a href="#!/user">Donnetta Huitron</a></i>
          </div>
        </div>          
      </div>
      <div class="col-xs-6 col-md-3"> 
        <div class="row">
          <div class="col-xs-12 col-md-6 review-img">
            <a href=""><img src="https://randomuser.me/api/portraits/men/75.jpg" class="img-responsive img-circle "></a>
            <div class="review-rating"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>
            </div>
            <p class="item-location "><i class="glyphicon glyphicon-map-marker"></i> Papua New Guinea</p>
          </div>
          <div class="col-xs-12 col-md-6 user-info">
            <h4>Review : </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit harum odit amet quibusdam neque cumque!</p>
            <i class="glyphicon glyphicon-user"> <a href="#!/user">Doug Gisin</a></i>
          </div>
        </div>          
      </div><div class="col-xs-6 col-md-3"> 
        <div class="row">
          <div class="col-xs-12 col-md-6 review-img">
            <a href=""><img src="https://randomuser.me/api/portraits/men/75.jpg" class="img-responsive img-circle "></a>
            <div class="review-rating"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>
            </div>
            <p class="item-location "><i class="glyphicon glyphicon-map-marker"></i> North Korea</p>
          </div>
          <div class="col-xs-12 col-md-6 user-info">
            <h4>Review : </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quaerat, necessitatibus doloribus error vel commodi aliquam sunt consequuntur nam officia?.</p>
            <i class="glyphicon glyphicon-user"> <a href="#!/user">Richard Schlott</a></i>
          </div>
        </div>          
      </div>
      <div class="col-xs-6 col-md-3"> 
        <div class="row">
          <div class="col-xs-12 col-md-6 review-img">
            <a href=""><img src="https://randomuser.me/api/portraits/men/75.jpg" class="img-responsive img-circle "></a>
            <div class="review-rating"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>
            </div>
            <p class="item-location "><i class="glyphicon glyphicon-map-marker"></i> Madagascar</p>
          </div>
          <div class="col-xs-12 col-md-6 user-info">
            <h4>Review : </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quod eius nulla amet nisi iusto quos doloremque voluptatibus corrupti sint?</p>
            <i class="glyphicon glyphicon-user"> <a href="#!/user">Lavinia Bohannon</a></i>
          </div>
        </div>          
      </div>

    </div>

    </div>

</section>

<!-- Send message Modal -->
       <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Message the user</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <form class="form" method="post" name="newRequest" id="request" ">
                        <div class="form-group ">
                 
                                <input type="text " class="form-control " name="mem_name " id="mem_name " placeholder="Message title... ">
                         
                        </div>
                        <div class="form-group ">
                 
                                <textarea name="description " id=" " cols="30 " rows="5 " placeholder="Your message... "></textarea>
                         
                        </div>
                    </form>
            </div>
        </div>
    </div>
      </div>
      <div class="modal-footer ">
        <button type="button " class="btn btn-primary form-button ">Send</button>
      </div>
    </div>
  </div>
</div>
        <!--End Of Modal -->
